@font-face {
    font-family:book;
    src: url(./ITCAvantGardePro-Bk.otf);
}

@font-face {
    font-family:bold;
    src: url(./ITCAvantGardePro-Bold.otf);
}

@font-face {
    font-family:medium;
    src: url(./ITCAvantGardePro-Md.otf);
}

@font-face {
    font-family:xlt;
    src: url(./ITCAvantGardePro-XLt.otf);
}

html, body {
    height:100%;
    background-image: linear-gradient(135deg, #313132,#161616);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#maincontainer {
    object-fit: fill;
}

#secondcontainer {
    width: 1520px;
    margin: auto;
}

header {
    font-family:book;
    font-size:30px;
    display:flex;
    padding:65px;
}

nav ul {
    display:inline-block;
    margin-left:620px;
    display:flex;
    list-style:none;
    margin-right:100px;
}

li {
    align-items:center;
}

.wspolpraca {
    margin-left:80px;
}

.logo {
    margin-left:35px;
    scale:70%;
}

a {
    color:white;
    text-decoration: none;
}

#oferta {
    margin-top: 150px;
}

.scroll {
    float:right;
    margin-right: -40px;
    margin-top:120px;
    font-family:xlt;
    font-size:20px;
    color:white;
    text-decoration:none;
    letter-spacing:10px;
    transform: rotate(90deg);
    position: relative;
}

.line {
    float:right;
    clear:both;
    margin-right: 70px;
    margin-top:260px;
    position: relative;
}

.ellipse9 {
    scale: 80%;
    float: inline-start;
    clear: both;
    position: absolute;
    margin-left: 100px;
    margin-top: 365px;
}

.circle {
    border-radius: 50%;
    width: 1136px;
    height: 1134px;
    background-color: black;
    background-position: bottom;
    margin-top: -300px;
    margin-left: 950px;
}

.subtraction1 {
    float: none;
    position: absolute;
    margin-left: 600px;
}

h1 {
    font-family:bold;
    font-size:120px;
    color:white;
    margin-left:270px;
}

h2 {
    font-family:medium;
    font-size:40px;
    color:white;
    margin-left:270px;
    margin-top:70px;
}

h3 {
    font-family:medium;
    font-size:70px;
    color:white;
    margin-left:270px;
    margin-top:-775px;
}

h4 {
    font-family:xlt;
    font-size:35px;
    color:white;
    margin-left:270px;
    margin-top:100px;
    margin-bottom: 50px;
}

.rectangle1 {
    float: left;
    clear: both;
    margin-top: -250px;
}

.rectangle2 {
    position: absolute;
    margin-top: 175px;
    margin-left: 495px;
}

.portfolio1 {
    text-decoration: none;
    font-family:xlt;
    font-size:20px;
    color:white;
    letter-spacing:10px;
    margin-left:270px;
    margin-top: 325px;
    position: absolute;
}

.group7 {
    position: absolute;
    float: left;
    margin-left: 650px;
    margin-top: 70px;
}

.prbox {
    position: absolute;
    margin-top: 450px;
    margin-left: 430px;
    display: flex;
}

.prbox2 {
    position: absolute;
    margin-top: 870px;
    margin-left: 430px;
    display: flex;
}

.second {
    margin-left: 75px;
}

.third {
    position: absolute;
    margin-left: 625px;
}

.forth {
    margin-top: 50px;
}

.fifth {
    margin-top: 50px;
    margin-left: 75px;
}

.sixth {
    position: absolute;
    margin-top: 50px;
    margin-left: 625px;
}

.black {
    background-position: bottom;
    background-color: black;
    width: 100%;
    height: 1200px;
    margin: 0;
    border: 0;
    margin-top: 600px;
}

h6 {
    position: absolute;
    font-family: xlt;
    font-size: 20px;
    line-height: 35px;
    color: white;
    margin-left: 272px;
    margin-bottom: 100px;
    margin-top: 1580px;
}

footer {
    height: 60px;
    background-color: #1B1B1B;
}

h5 {
    font-family:xlt;
    font-size:20px;
    color:white;
    float: right;
    margin: 18px;
    margin-right: 100px;
}
